.has {
    color: red;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding-top: 44px;
}

.app {
    margin-left: auto;
    margin-right: auto;
    /* max-width: 1170px; */
}

.main {
    display: flex;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
}

.swiper-items {
    height: 100%;
    position: relative;
    font-size: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.swiper-items a {
    display: flex !important;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: fit-content !important;
}

.swiper-items img {
    width: auto;
    height: 100%;
}


.pagehelper .pagination-items {
    width: 10px;
    height: 6px;
    border-radius: 0;
    border: none;
    transition: width .18s;
}


.grid-layout {
    display: flex;
    gap: 2%;
    flex-wrap: wrap;
}

.grid-layout .picture-container>a {
    display: block;
    height: 100%;
    width: 100%;
}

.grid-layout .picture-container>img {
    width: auto;
    height: 100%;
}

.picture-container {
    width: 32.0%;
    padding: 1%;
    box-sizing: border-box;
    height: 32.0%;
    background-color: rgb(59, 59, 59);
    position: relative;
    overflow: hidden;
}

.to-header {
    position: fixed;
    width: 100%;
    height: 44px;
    color: black;
    top: 0;
    background-color: rgba(255, 255, 255, 0.672);
    border-bottom: 1px solid rgba(4, 4, 4, 0.172);
    text-align: center;
    font-weight: 650;
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    -moz-backdrop-filter: blur(18px);
    font-size: 23.5px;
    line-height: 45px;
    z-index: 999;
}

.color01 {
    background-color: red;
    color: white;
}

.color02 {
    background-color: darkorange;
    color: white;
}

.color03 {
    background-color: rgb(50, 103, 40);
    color: white;
}

.color04 {
    background-color: rgb(152, 56, 125);
    color: white;
}
.color05 {
    background-color: rgb(152, 56, 147);
    color: white;
}

.base-layout {
    font-size: small;
    display: flex;
    color: #313131;
    width: 100%;
    justify-content: start;
    flex-wrap: nowrap;
    line-height: 1.8;
    box-sizing: border-box;
    padding: 5px;
    border: 1px solid #31313119;
    overflow: hidden;
}

.col-1 {
    width: 20%;
    overflow: hidden;
}

.col-2 {
    width: 80%;
}

#swiper01 {
    width: 100%;
    min-height: 180px;
    height: 100%;
}
#swiper03{
    height: 100%;
}
.swiper-container {
    height: 100%;
}

.left-aside {
    position: static;
    width: 0;
    margin-right: 10px;
}
code{
    white-space: normal;
}
.left-aside .float {
    position: fixed;
    top: 54px;
    /* margin-left: -15px; */
    z-index: 8;
    font-size: 13px;
    background-color: white;
    display: flex;
    box-sizing: border-box;
    padding: 4px;
    flex-direction: column;
    border: 1px solid #e7e7e7;
}

.content-col {
    width: 90%;
}

.float>a {
    color: black;
    text-align: left;
    text-decoration: none;
    margin-bottom: 12px;
}

.float>a:focus {
    color: rgb(255, 8, 8);
}

#swiper09 {
    height: 400px;
    background-color: #313131;
}
.intro{
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
}