.has {
    color: red;
}

.btn>img {
    width: 100%;
    height: 100%;
    user-select: none;
}

body {
    background-color: rgb(58, 58, 58);
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    height: 100%;
    height: 100%;
    position: relative;
    overflow-y: auto;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    border-radius: 8px;
}

.demo01,
.demo02 {
    width: 100vw;
    height: 42vh;
    background-color: white;
    position: relative;
    border-radius: 6px;
    font-size: 2em;
    margin-bottom: 20px;
    margin-top: 20px;
}


.swiper-items {
    text-align: justify;
    height: 100%;
    position: relative;
    overflow: hidden;

}

.swiper-items a {
    display: flex !important;
    align-items: center;
}

.swiper-items img {
    width: 100%;
    height: 100%;
}

.heiwukong .pagehelper {
    text-align: right;
}

.pagehelper .pagination-items {
    width: 10px;
    height: 6px;
    border-radius: 0;
    border: none;
    transition: width .18s;
}

.heiwukong .pagehelper .pagination-items-active {
    width: 14px;
    background-color: none;
}

.grid-layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 2fr);
    gap: 10px;
}